{% extends "_base.html" %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header"><h1>Редактировать подразделение</h1></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <a class="btn btn-default" href="{{ url_for('admin.deps') }}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Назад к списку</a>
            </div>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.depname.label }}
                    {{ form.depname(class="form-control") }}
                    {% if form.depname.errors %}
                        {% for error in form.depname.errors %}
                            <p class="text-danger"><small>{{ error }}</small></p>
                        {% endfor %}
                    {% endif %}
                </div>
                {{  form.submit(class="btn btn-success") }}
            </form>
        </div>
    </div>
    

</div>
{% endblock %}