<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Amanat Gems!</title>
    <meta name="description" content="">
    <meta name="author" content="Denis Berezovskiy">

    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static', filename='images/favicon-96x96.png') }}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Newspaper style CSS file -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">

    <!-- Scrips -->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang('ru') }}
</head>
<body>
    {% if current_user.is_authenticated %}
    <!-- Navbar -->
    <nav class="navbar navbar-custom">
        <div class="container">
            <!-- For better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Amanat Gems</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li><a href="{{ url_for('draft.drafts', page=1) }}">Черновики</a></li>
                    <li><a href="{{ url_for('proposal.proposals_my_open', page=1) }}">Заявки</a></li>
                    <li><a href="{{ url_for('gem.gems', page=1) }}">Бриллианты</a></li>
                    <li><a href="{{ url_for('main.find_gem') }}">Найти бриллиант</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('main.user', user_id=current_user.id) }}">{{ current_user.username}}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p class="text-center">{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
